process {
    withName: RNAFRAMEWORK_RFFOLD {
        ext.args = params.module_args
        publishDir = [
            path: { "${params.outdir}/fold" },
            mode: 'copy',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (filename ==~ /.+_fold(\/.*)?$/) return null
                filename.replaceFirst(/_fold_publish(?=\/|$)/, '')
            }
        ]
    }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = null
}
