/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local config override for FastQC on cluster runs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use when FastQC tasks are being killed due to memory pressure.
----------------------------------------------------------------------------------------
*/

process {
    withName: '(^|.*:)FASTQC_PRE$' {
        cpus   = 2
        memory = 16.GB
    }

    withName: '(^|.*:)FASTQC_POST$' {
        cpus   = 2
        memory = 16.GB
    }
}
