/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running prokaryote transcriptome-mode tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Exercises the --transcriptome route on an E. coli 16S rRNA DMS-MaP dataset.
    The profile uses a single 16S rRNA FASTA and a matching 16S-only dot-bracket
    reference for rf-jackknife calibration.

    Reference files:
        testdata/prokaryote_test/16S_rRNA.fa            - 16S rRNA FASTA
        testdata/prokaryote_test/16S_rRNA.reference.db  - 16S rRNA dot-bracket reference

    Use as follows:
        nextflow run nf-core/rnastructurome -profile test_prokaryote,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test prokaryote profile'
    config_profile_description = 'E. coli 16S rRNA DMS-MaP test dataset to check pipeline function (Bowtie transcriptome route)'

    input        = "${projectDir}/testdata/prokaryote_test/samplesheet.prokaryote_test.csv"

    method       = 'DMS'
    principle    = 'MaP'
    organism     = 'Escherichia coli'
    fasta        = "${projectDir}/testdata/prokaryote_test/16S_rRNA.fa"
    transcriptome = true

    jackknife_reference = "${projectDir}/testdata/prokaryote_test/16S_rRNA.reference.db"
}
