process {
    withName: R2DT {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/r2dt" },
            mode: 'copy',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                filename.replaceFirst(/_r2dt(?=\/|$)/, '/2D-structures/r2dt')
            }
        ]
    }
}

params {
    outdir = null
}
