process {
    withName: RNAFRAMEWORK_RFRCTOOLS_EXTRACT {
        ext.args = params.module_args
    }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    rnaframework_container     = 'ghcr.io/dincarnato/rnaframework@sha256:43a5d1ee6a12232a1530d764a2b45d497c8c76f3a7627d7d9c0c0d52a6ca2a35'
}
