process {
    withName: VIENNARNA {
        ext.rnaplot = 'RNAplot'
        publishDir = [
            path: { "${params.outdir}/fold" },
            mode: 'copy',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                filename.replaceFirst(/_structures(?=\/|$)/, '/structures/viennarna')
            }
        ]
    }
}

params {
    outdir = null
}
