process {
    withName: VIENNARNA {
        ext.rnaplot = 'RNAplot'
        publishDir = [
            path: { "${params.outdir}/fold" },
            mode: 'copy',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                filename.replaceFirst(/_2D_structures(?=\/|$)/, '/2D-structures/viennarna')
            }
        ]
    }
}

params {
    rnaframework_container = 'ghcr.io/vicbeg/rnaframework:2.9.6-r5-runtime'
    outdir = null
}
